.markdown-article {
  h1,
  h2 {
    font-size: 28px;
  }
  p {
    color: #111;
    font-size: 16px;
    text-indent: 2em;
  }
  ul {
    background-color: #f5f2f0;
    padding: 1em;
    padding-left: 2em;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    border-width: 0.3em;
    border-color: #e0dfcc;
    border-style: solid;
    text-shadow: 0 1px white;
    overflow: auto;
    li {
      list-style: disc;
    }
  }
}
