.header {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  fill: @text-color;
  overflow: hidden;
  font-size: 20px;
  position: relative;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  z-index: 1;
  .icon {
    position: relative;
    top: 2px;
  }
}
.screenfull {
  margin-right: 20px;
}
